* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
button:focus {
  outline: none;
}

button:hover {
  transform: translateY(-2px);
}

input::placeholder {
  color: rgba(255,255,255,0.5);
}

code {
  font-family: 'Courier New', Courier, monospace;
}
